<nav class="navbar navbar-light bg-primary p-3 mb-4">
  <a href="/" class="navbar-brand"
    ><img
      class="img-fluid"
      style="max-width: 4rem"
      src="/img/logo.png"
  /></a>
  <a href="/link" class="navbar-text">Link</a>
</nav>
